<%- include('../../partials/head.ejs') %>
<div class="container my-5 my-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Create a New Account</h1>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>
