<%- include('../../partials/head.ejs') %>
<div class="container my-5 my-container">
    <h1 class="display-1 text-center">Welcome To Your Dashboard</h1>
</div>

<%- include('../../partials/footer.ejs') %>
